/*
CSS used inside CKEditor iframe to style WYSIWYG editor just the same as the final result.
*/

body
{
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.4;
	color: #000;
	background-color: #fff;
	margin: 10px;
}

p {
	margin: 0px;
}

blockquote {
	background: transparent none 6px 8px no-repeat;
	border: 1px solid #DBDBCE;
	font-size: 0.95em;
	margin: 1em 1px 1em 25px;
	overflow: hidden;
	padding: 5px;
	background-color: #EBEADD;
}

blockquote:before {
	content: '\f10d';
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: FontAwesome;
	font-size: 14px;
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-right: 5px;
}

blockquote:before:-moz-only-whitespace {
	display: none;
}

a {
	color: #0782C1;
}

ol, ul {
	margin: 0.8em 0 0.9em 3em;
}

code {
	background-color: #FFFFFF !important;
	color: #2E8B57 !important;
	border: 1px solid #C9D2D8;
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	padding: 5px 3px;
	margin: 1em 0 1.2em 0;
	font: 1em Monaco, "Andale Mono","Courier New", Courier, monospace;
	line-height: 1.3em;
	word-wrap: normal;
}

div[data-attachid]:before {
	content: '\f15b';
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: FontAwesome;
	font-size: 14px;
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-right: 5px;
}
div[data-attachid] {
	text-decoration: underline;
	color: #368AD2;
	font-weight: bold;
}
